<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true">
  <!-- Test suites to be run -->
	<testsuites>
		<testsuite name="Tests">
			<directory>tests</directory>
		</testsuite>
	</testsuites>

  <!-- Filters for code coverage reporting -->
  <filter>
    <whitelist>
      <directory>./</directory>
      <exclude>
        <directory>./tests</directory>
        <directory>./vendor</directory>
      </exclude>
    </whitelist>
  </filter>

  <!-- Logging -->
  <logging>
    <log tyoe="coverage-clover" target="tests/coverage/clover.xml" />
    <log type="coverage-html" target="tests/coverage/html" highlight="true" />
    <log type="coverage-text" target="php://stdout" />
  </logging>
</phpunit>
